// E6B5FF
// D0B5DE
// B5D0DE
// B5C2DE
// 96B5D1

.root
  background: #ee9ca7  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7)  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.floor
  padding-top: 5em

.menu
  background: #6C5B7B
  
  ul
    display: flex
    padding: 0.5em 0.3em 0.5em 0.3em
    
    li
      
      a
        padding: 0.5em
        color: #f0f0f0
        font-size: 1.5em
        
        text-transform: uppercase
        
        &:hover
          background: #C06C84
        
    
.content
  //background: #F8B195

.footer
  background: #355C7D
  color: #FFFFFF

  p
    font-size: 1em
    padding: 0

  a
    color: #FFFFFF

p
  padding: 0 10px
  font-size: 1.3em

a
  color: #355C7D
  font-weight: bold
// Headers
.h-first
  font-size: 6em !important
  text-align: center
  text-transform: uppercase

  @media only screen and (max-width:479px)
    font-size: 3em !important
  
.h-1
  padding: 0.5em
  background: #C06C84
  color: #FFFFFF !important
  border-radius: 25px

// Blockquote
blockquote
  display: block
  border-width: 2px 0
  border-style: solid
  border-color: #eee
  padding: 1.5em 0 0.5em
  margin: 1.5em 0
  position: relative

  &:before
    content: '\201C'
    position: absolute
    top: 0em
    left: 50%
    transform: translate(-50%, -50%)
    background: #fff
    width: 3rem
    height: 2rem
    font: 6em/1.08em 'PT Sans', sans-serif
    color: #666
    text-align: center

  &:after
    content: "\2013 \2003" attr(cite)
    display: block
    text-align: right
    font-size: 0.875em
    color: #e74c3c

// Song

.song-list

  .song
    padding: 0.5em 0.3em
    background: #FFFFFF
    border-left: 5px solid #6b6b6b
    font-weight: bold

    a
      color: #6b6b6b
      
      &:hover
        color: #FFFFFF
    
    &:nth-of-type(n+1)
      margin-top: 3px

    &:hover
      background: #6C5B7B
      color: #FFFFFF
      border-color: #6C5B7B

    .song-name

.social-img
  @media only screen and (min-width: 481px)
    width: 60% !important

.museum-img
  @media only screen and (min-width: 481px)
    height: 400px !important

.gift-name
  padding: 0.3em
  background: #6C5B7B
  color: #FFFFFF !important
  border-radius: 5px
  text-align: center

.gift-img
  @media only screen and (min-width: 481px)
    height: 300px !important

.wishes
  padding: 0.5em 1em
  font-family: 'Dancing Script', cursive !important
  font-size: 2em
  font-weight: bold

.wishes-img
  @media only screen and (min-width: 481px)
    width: 40% !important
