@charset "UTF-8";
.root {
  background: #ee9ca7;
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
}

.floor {
  padding-top: 5em;
}

.menu {
  background: #6C5B7B;
}

.menu ul {
  display: flex;
  padding: 0.5em 0.3em 0.5em 0.3em;
}

.menu ul li a {
  padding: 0.5em;
  color: #f0f0f0;
  font-size: 1.5em;
  text-transform: uppercase;
}

.menu ul li a:hover {
  background: #C06C84;
}

.footer {
  background: #355C7D;
  color: #FFFFFF;
}

.footer p {
  font-size: 1em;
  padding: 0;
}

.footer a {
  color: #FFFFFF;
}

p {
  padding: 0 10px;
  font-size: 1.3em;
}

a {
  color: #355C7D;
  font-weight: bold;
}

.h-first {
  font-size: 6em !important;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 479px) {
  .h-first {
    font-size: 3em !important;
  }
}

.h-1 {
  padding: 0.5em;
  background: #C06C84;
  color: #FFFFFF !important;
  border-radius: 25px;
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}

blockquote:after {
  content: "– " attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}

.song-list .song {
  padding: 0.5em 0.3em;
  background: #FFFFFF;
  border-left: 5px solid #6b6b6b;
  font-weight: bold;
}

.song-list .song a {
  color: #6b6b6b;
}

.song-list .song a:hover {
  color: #FFFFFF;
}

.song-list .song:nth-of-type(n+1) {
  margin-top: 3px;
}

.song-list .song:hover {
  background: #6C5B7B;
  color: #FFFFFF;
  border-color: #6C5B7B;
}

@media only screen and (min-width: 481px) {
  .social-img {
    width: 60% !important;
  }
}

@media only screen and (min-width: 481px) {
  .museum-img {
    height: 400px !important;
  }
}

.gift-name {
  padding: 0.3em;
  background: #6C5B7B;
  color: #FFFFFF !important;
  border-radius: 5px;
  text-align: center;
}

@media only screen and (min-width: 481px) {
  .gift-img {
    height: 300px !important;
  }
}

.wishes {
  padding: 0.5em 1em;
  font-family: 'Dancing Script', cursive !important;
  font-size: 2em;
  font-weight: bold;
}

@media only screen and (min-width: 481px) {
  .wishes-img {
    width: 40% !important;
  }
}
